@model List<Product>

<div class="container">
    <div class="row pt-4">
     <div class="col-6">
        <h2 class="text-primary"> 
            Product List
        </h2>
        </div>
         <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-bag-plus"></i> Create New Product</a>
        </div>
    </div>
   


<table class="table table-bordered table-striped">
    <thead>
       <tr>
        <th>
            Title
        </th>
          <th>
           ISBN
        </th>
        <th>
            Description
        </th>
      
        <th>
           Author
        </th>
        <th>
            BasePrice
        </th>
                <th>
                    CostPrice
                </th>
                <th>
                    Status
                </th>
                <th>
                    CreatedBy
                </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.Description</td>
                    <td>@obj.Author</td>
                    <td>@obj.BasePrice</td> 
                    <td>@obj.CostPrice</td>
                    <td>@obj.Status</td>
                    <td>@obj.CreatedBy</td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">
<i class="bi bi-pencil-square"></i>Edit
</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>
            </tr>
            
        }
    </tbody>
</table> 
</div>
