@model Ecom.Models.JobTicketForma


@{
    ViewData["Title"] = "Job Ticket";
}
<style>
    .heading h5 {
        font-weight: 900;
    }

    table,
    th,
    td {
        border: 1px solid black !important;
    }

        table th,
        table td,
        .font-size-18-px {
            font-size: 18 px;
        }
</style>

    <div class="container">
        <div class="heading text-center">
            <h1>जनक शिक्षा सामग्री केन्द्र लिमिटेड</h1>
            <h5>Production विभाग </h5>
            <h5>सानोठिमी,भक्तपुर </h5>
            <h5>(Printing शाखा)</h5>
        </div>
        <div class="row">
             @foreach (var obj in Model.jobstick)
                {
        <div class="col-md-4">
            <strong>
                    Job Ticket No.:@obj.Id / @obj.Name
            </strong>
            <br />
                <b>Class  : </b> <u>
                    @if(obj.Product.Title != null)
                {
                        @obj.Product.Class  @obj.Product.Title
                    }
                </u>  <br />
                <b>Page Number : </b> <u>@obj.PageNumber</u>
                <br /> <b>Page  : </b> <u>@obj.PrePrintSize</u>
                <br /> <b>Job Start Date: @obj.JobStartDate</b>
                <b>Job Completion Date: @obj.JobCompleteDate</b>
        </div>
        <div class="col-md-4">
                <h5>  Lot Number : @obj.LotNumber |
                Year : @obj.FiscalYear  </h5>
        </div>
        <div class="col-md-4">
                <b>Job Date: @obj.JobDate</b>
                <br />
                <b>Print Target: @obj.PrintTarget</b> <br />
                <b>Print Achieved: @obj.PrintAchieved</b>
        </div>
                }
        </div>
        
  
        
       
            <div class="table mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Forma</th>
                            <th>Page </th>
                            <th>Print Target</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                @{
                    int sn = 1; // Initialize the serial number counter
                }
                        @foreach (var mo in Model.forma)
                        {
                            <tr>
                        <td>@sn</td> <!-- Output the serial number -->
                                <td>@mo.Name</td>
                                <td>@mo.Page</td>
                                <td>@mo.PrintTarget</td>
                        <td>@mo.Id |@mo.Remarks</td>

                            </tr>
                    sn++; // Increment the serial number counter
                        }
                    </tbody>
                    </table>
                    </div>


