@model List<Forma>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Forma List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Forma" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-bag-plus"></i> Create New Forma
            </a>
        </div>
    </div>



    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                     Name
                </th>
                <th>
                  Page
                </th>
                <th>
                    PrintTarget
                </th>
                <th>
                    Product Details
                </th>
                <th>
                    Status
                </th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                     <td>@obj.Page</td>
                    <td>@obj.PrintTarget</td>
                   <td>@(obj.Product.Title)</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Forma" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                            <a asp-controller="Forma" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>
