@model List<Class>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Class List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Class" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-bag-plus"></i> Create New Class
            </a>
        </div>
    </div>



    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Class Name
                </th>
                
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td
                          <td>@obj.Description</td>
                            <td>@obj.status</td>
                 
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Class" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                            <a asp-controller="Class" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
